version: "3.9"

volumes:
  react_volume:

services:
  react-app:
    build: ./front
    ports:
      - "3000:3000"
    volumes:
      - ./front:/app
      - react_volume:/app/node_modules

  fastapi-app:
    build: ./back
    volumes:
      - ./back/.dockerenv:/src/.venv
      - ./back:/src
    ports:
      - 8000:8000
    environment:
      - WATCHFILES_FORCE_POLLING=true

  db:
    platform: linux/x86_64
    image: mysql:8.0
    volumes:
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./db/volume:/var/lib/mysql
      - ./db/dump:/dump
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: demo
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
      TZ: 'Asia/Tokyo'
    ports:
      - "33306:3306"

  adminer:
    image: adminer:4.8.0
    ports:
      - "8081:8080"
    depends_on:
      - db


